body{
    height: auto;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    padding-top: 600px;
}

#principal{
    width: 720px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(131, 85, 0);
    margin: 0 auto;
    box-shadow: 0px 0px 10px black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
#Titulo{
    width: 700px;
    height: auto;
    margin-left: 10px;
    background-color: rgba(57, 57, 60, 0.747);
    float: left;
    border-radius: 20px 20px 20px 20px;
}
h2{
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#p{
    width: 600px;
    height: auto;
    float: left;
    background-color: white;
    color: rgb(56, 56, 56);
    margin-left: 10px;
   
}
p{
    text-align: justify;
    font-size: 30px;
    font-family: fantasy;
    color: darkmagenta;
    padding: 50px;
    
}
button{
    width: 220px;
    height: 60px;
    display: block;
    float: left;
    font-size: 40px;
    font-family: fantasy, bold;
    border-radius: 10px;
    float: left;
    background-color: rgba(255, 170, 0, 0.718);
    margin-left: 5px;
}
#buttons{
    margin-left: 260px;
}
#img{
    width: 97%;
    height: 710px;
    margin: 10px;
    float: left;
    background-size: cover;
    visibility: hidden;
    position: fixed;
}
